body {
  margin: 0;
  font-family: monospace;
  background: #0f101b;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

h1 {
  margin-top: 0;
}

a {
  color: white;
}

a:active {
  opacity: 0.3;
}
