@font-face {
  font-family: RobotoMedium;
  src: url(/font/Roboto-Medium.ttf);
}

body {
  margin: 0;
  background: black;
}

main {
  width: fit-content;
  font-family: monospace;
  font-size: 18px;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0 5px;
}

a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px 0;
  opacity: 0.8;
}

a:hover {
  transition: opacity 0.2s;
  opacity: 1;
}

@media (prefers-color-scheme: Light) {
  body {
    background-color: #f9f9f9;
  }

  a {
    color: black;
  }
}
