/* 
	#cbe9e9 - Azul claro
	#3ea296 - Azul escuro
*/

@font-face {font-family: Calibri; src: local(font/calibri.ttf);}

* {box-sizing: border-box;}

html, body {margin: 0; font-family: calibri;}

main {margin: 50px; border: 2px solid #3ea296; overflow: auto;}

header {background-color: #cbe9e9; overflow: auto; padding: 50px 50px 0 50px;}

article {padding: 30px 50px;}

footer {text-align: center;}

footer p {margin: 0 0 20px 0;}

#profile {max-width: 270px; border-radius: 50%; margin: 0 50px 50px 0; border: 4px solid white; box-shadow: 0 0 0 6px #3ea296; float: left;}

h1, h2, h3 {text-transform: uppercase; letter-spacing: 5px;}

h1 {margin: 0;}

h2 {color: #3ea296; margin: 0;}

h3 {background-color: #cbe9e9; padding: 5px; text-align: center; letter-spacing: 3px; margin: 0 0 15px 0; clear: left;}

#linguas, #habilidades, #educacao, #conquistas {margin-top: 40px;}

hr {border: 1px solid; width: 40px; margin: 15px 0;}

#descricao {color: #363636; margin: 0 100px 50px 0;}

.col1 {margin-right: 40px; float: left; width: 300px;}

.col1 p:not(.icon) {color: #383838;}

.col1 p, .col2 p {margin: 0 0 23px 0;}

.col2 {border-left: 2px solid; padding-left: 40px; overflow: auto;}

.col2 p {color: #828282;}

.icon svg {position: relative; transform: translate(-50%, -50%); top: 50%; left: 50%;}

.icon {color: white; border-radius: 50%; background-color: #3ea296; width: 27px; height: 27px; font-size: 14px; float: left; margin: 0 15px 0 0 !important; clear: left}

b {display: block; text-transform: uppercase; color: #3ea296; margin: 0 0 5px 0;}

ul {list-style-type: none; margin: 5px 0 15px 0; padding: 0; overflow: auto}

ul li {width: 12px; height: 12px; border-radius: 50%; border: 1px solid #3ea296; float: left; margin: 0 10px 0 0;}

.o1 {background-color: #3ea296;}

.o0 {background-color: none;}

a {color: #3ea296; text-decoration: none;}

#linguas p, #habilidades p {margin: 0;}

@media (max-width: 960px) {
	#descricao {text-align: justify; margin-right: 30px;}
}

@media (max-width: 713px) {
	main {margin: 20px;}
	article, header {padding: 30px;}
	#profile {float: none; margin: 0 auto 50px auto; display: block; width: 100%;}
	h1, h2, h3 {letter-spacing: 2px;}
	h1 {font-size: 1.5em;}
	h2 {font-size: 1em;}
	h3 {font-size: 0.9em;}
	#descricao {margin: 0;}
	.col1 {float: none; width: auto; margin-right: 0;}
	.col2 {border: none; padding: 0;}
	#experiencia {margin-top: 40px;}
	ul {display: flex; margin-top: 5px;}
	.o1, .o0 {margin: 0 auto; width: 13px; height: 13px;}
	li:first-child {margin-left: 0;}
	li:last-child {margin-right: 0;}
	#habilidades p, #linguas p {font-weight: bold; font-size: 0.9em;}
	#experiencia p, #conquistas p, #educacao p {text-align: justify;}
}