@font-face {font-family: 'Raleway'; src: url(../font/Raleway-Regular.ttf)}
@font-face {font-family: 'Source Sans Pro'; font-weight: 300; src: url(../font/SourceSansPro-Light.ttf)}
@font-face {font-family: 'Source Sans Pro'; font-weight: 400; src: url(../font/SourceSansPro-Regular.ttf)}

* {box-sizing: border-box;}

body, html {margin: 0; color: white; background: red; font-family: 'Source Sans Pro';}

header {padding: 0.7em 5.5em; background: #FFF;}

a {text-decoration: none; color: red; font-size: 1.7em; font-weight: bold;}

main {padding: 5em 1em;}

.content {width: 50%; padding-left: 4.5em; display: inline-block; float: left}

.content p {font-size: 1.3em}

h1 {margin: 0.2em 0 0.7em 0; font-family: Raleway; font-size: 3.1em; font-weight: 300;}

.clearfix {clear: both;}

.logo {width: calc(50% - 4.5em); display: inline-block; text-align: center;}

img {width: 12em;}

footer {display: -webkit-flex; display: flex; flex-wrap: wrap;}

footer div {flex: 1; padding: 3em 3em 5em 3em; margin-bottom: 10px; background: #571212; height: 400px;}

footer div:nth-child(2) {margin: 0 10px;}

footer p {color: #E98A8A; margin: 0;}

h2 {margin: 0; padding-bottom: 2em; font-size: 1.4em; font-weight: 400;}

@media only screen and (max-width: 830px) {
	footer div:nth-child(2) {margin: 0 0 0 10px;}
	footer div {flex: 1 0 40%;}

}

@media only screen and (max-width: 600px) {
	header {padding: 20px 20px;}
	main {padding: 70px 30px;}
	.logo, main br {display: none;}
	.content {width: auto; padding: 0; float: none; display: block;}
	h2 {font-size: 24px; padding: 0; margin-bottom: 14px;}
	footer {display: block;}
	footer div {flex: 0 1 auto; padding: 40px 30px; height: auto;}
	footer div:nth-child(2) {margin: 0 0 10px 0;}
	footer p {font-size: 16px;}
}