<!DOCTYPE html>
<html>
	<head>
		<title>Layout</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div id="global">
			<p><span>#</span>global</p>
			<header id="topo"><p><span>#</span>topo</p></header>
			  <div id="conteudo"><p><span>#</span>conteudo</p></div>
			  <div id="menu"><p><span>#</span>menu</p></div>
			<footer id="rodape"><p><span>#</span>rodape</p></footer>
		</div>
	</body>
</html>