@font-face {font-family: Marat; src: url(../font/Marat.otf);}

* {box-sizing: border-box;}

body, html {margin: 0}

main {padding: 15px 100px 0 100px;}

hr {margin-bottom: 20px;}

header {background: black; padding: 7px 7px 7px 25px}

footer {background: black; height: 90px; padding: 0 250px}

footer img {position: relative; top: 25px}

article {margin-bottom: 60px;}

.cover {display: inline-block; height: 170px}

.articles {width: 850px; margin: auto;}

.article_main {width: 600px; display: inline-block; margin-right: 40px;}

.links {display: inline-block; position: relative; bottom: 11px}

.links span {margin: 0 15px;}

.links a {display: inline-block; text-transform: uppercase; font-family: Marat}
			
a {color: white; text-decoration: none; letter-spacing: 2px}

.logo, h1 {font-family: 'Times New Roman'}

.logo {display: inline-block; margin-right: 85px;}

.logo img {width: 37px; margin-right: 10px}

.logo span {color: white; font-weight: bold; font-size: 24px; position: relative; top: -10px;}
			
.icon {width: 15px; float: right; margin: 10px}

.star {width: 10px; float: none; margin: 0}

.based, .date, .description {color: gray}

.based {margin: 0; font-family: Marat; text-transform: uppercase}

h2 {font-family: helvetica; margin: 5px 0 0 0}

.description {margin: 5px 0}

.date {margin: 0}

.autor {margin: 20px 0 5px 0}

p {font-family: arial}

@media only screen and (max-width: 1015px) {
	main {padding: 15px 50px 0 50px;}
	.links {display: block; bottom: auto; position: static;}
	.logo {margin: 0;}
	.cover {display: none;}
	.articles, .article_main {width: auto;}
	.articles {margin-left: 100px;}
	footer {padding: 0 150px;}
}

@media only screen and (max-width: 670px) {
	main {padding: 15px 20px 0 20px;}
	.articles {margin-left: 0;}
	footer {padding: 0 20px;}
}
