* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
}

.bg_top {
  background-color: #45543d;
  height: 50px;
  width: 100%;
}

form {
  width: 730px;
  margin: 55px auto;
}

.col1 {
  float: left;
}

.submit {
  float: none;
  margin-top: 9px;
}

.clearfix {
  clear: both;
}

.col2 {
  float: right;
  margin-top: 60px;
}

.col2 input {
  width: 210px;
}

input,
select {
  padding: 9px;
  background-color: #e8efe4;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
}

input,
label,
select {
  display: block;
  margin: 0 0 7px 0;
}

input:focus {
  outline: none;
}

#reset,
#cadastrar {
  background-color: #45543d;
  color: white;
  cursor: pointer;
  display: inline-block;
}

#reset:active,
#cadastrar:active {
  background-color: #313e2b;
}

#reset {
  margin-left: 7px;
}

#nome,
#email {
  width: 294px;
}

#rg,
#telefone {
  width: 172px;
}

#nome_pai {
  width: 253px;
}

@media (max-width: 800px) {
  form {
    width: auto;
    margin: 55px;
  }
}

@media (max-width: 800px) {
  form {
    margin-bottom: 55px;
  }
  .col1,
  .col2 {
    float: none;
  }
  .col2 {
    margin: 0;
  }
  br {
    display: none;
  }
}

@media (max-width: 600px) {
  form {
    margin: 30px;
  }
}

@media (max-width: 400px) {
  #nome,
  #rg,
  #nome_pai,
  #email,
  select,
  #telefone,
  .col2 input {
    width: 100%;
  }
}
