@font-face {font-family: Roboto; src: url(../font/Roboto-Light.ttf);}
@font-face {font-family: "Open Sans"; src: url(../font/OpenSans-ExtraBold.ttf);}
@font-face {font-family: Jost; src: url(../font/Jost-Light.ttf);}

::-webkit-scrollbar {width: 8px; height: 8px}
::-webkit-scrollbar-track {background: #bbbbbba6}
::-webkit-scrollbar-thumb {background: #61616182}
::-webkit-scrollbar-thumb:hover {background: #00000082}

* {box-sizing: border-box;}

body, html {width: 100%; height: 100%; margin: 0;}

#return-to-top {position: fixed; bottom: 20px; right: 20px; background: #191919b3; width: 45px; height: 45px; display: block; text-decoration: none; display: none; transition: all 0.3s ease; border-radius: 50%}

#return-to-top img {margin: 0; transform: translate(-50%,-50%); position: relative; left: 50%; top: 50%; width: 19px; transition: all 0.3s ease;}

#return-to-top:hover {background: #2b2b2bb3;}

#return-to-top:hover img {top: 35%;}

ul a {color: black; text-decoration: none; position: relative;}

ul a:after {background: none repeat scroll 0 0 transparent; bottom: 0; content: ""; display: block; height: 1px; left: 50%; position: absolute; background: black; transition: width 0.3s ease 0s, left 0.3s ease 0s; width: 0;}

ul a:hover:after {width: 100%; left: 0;}

ul span {margin: 0 10px;}

ul {list-style: none; padding: 0; margin: 0; text-align: center; font-family: 'Jost', sans-serif; text-transform: uppercase; position: relative; top: 10px;}
			
li {display: inline-block;}
		
#main, #projeto {height: 100%;}

#projeto, #historia, #inspiracoes, #futuro, #sobre {margin: 0 150px;}

#historia, #inspiracoes, #futuro, #sobre {margin-bottom: 70px}

.content {position: relative; transform: translate(0, -50%); top: 50%}

.title, .sub-title {font-family: 'Open Sans', sans-serif; margin: 0; text-transform: uppercase;}

.title {position: absolute; transform: translate(-50%,-50%); top: 50%; left: 50%;}

p {font-family: monospace; font-size: 16px; margin-top: 0;}

.grid {font-size: 0; max-width: 450px; margin-right: 20px; float: left;}

#projeto p {margin: auto; width: 60%; text-align: center; font-size: 20px; font-family: roboto}

#historia h1 {margin-bottom: 20px}
#historia p {text-align: justify; margin-top: 0;}
#historia img {float: right; width: 50%; margin-left: 20px;}

#inspiracoes {clear: both; overflow: auto;}
#inspiracoes img {width: 150px}
#inspiracoes h1 {margin-bottom: 20px}

#futuro {overflow: hidden;}
#futuro h1 {margin-bottom: 20px}
#futuro img {width: 300px; float: right; margin-left: 20px;}

#sobre {clear: both}
#sobre h1 {margin-bottom: 20px}

#contato {text-align: center; margin: 50px 0}
#contato img {width: 20px; margin: 0 10px;}
#contato a {filter: grayscale(1); transition: 0.3s}
#contato a:hover {filter: none;}

footer {text-align: center; margin: 50px 0}
footer a {text-decoration: none}

@media (max-width: 450px) {
	h1 {font-size: 26px}
	p {font-size: 14px;}
	ul {width: 90%; margin:auto}
	#projeto, #historia, #inspiracoes, #futuro, #sobre {margin: 0 20px;}
	#projeto p {width: auto}
	#historia img {width: 100%; margin: 0 0 10px 0; float: none}
	#futuro img {float: none; margin: 0 0 10px 0; width: 100%}
	#inspiracoes {overflow: visible;}
	#inspiracoes img {min-width: 100px; flex: 1}
	.grid {margin: 0 0 10px 0; display: flex; flex-wrap: wrap; width: 100%;}
}