body {
  background-color: #3e5c6e;
  font-family: sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

li {
  background-color: #f7f7f7;
  border-bottom: 1px solid #fff;
  border-left: 4px solid #095586;
  line-height: 1;
}

li:hover {
  background-color: #095586;
}

li a:hover {
  color: #f1f1f1;
}

a {
  text-decoration: none;
  color: #095586;
  display: block;
  padding: 15px 20px;
}
